*.[oa]
*.dll
*.exe
*.mak
*.obj
*.pyc
*.so
.deps
Makefile
Makefile.in
aclocal.m4
autodefs.h
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.h
depcomp
dist/
install-sh
install-win32/settings
install-win32/tmp
missing
openvpn
openvpn.8.html
openvpn.exe.manifest
openvpnserv.exe.manifest
openvpn.spec
stamp-h1
t_client.sh
tap-win32/SOURCES
tap-win32/amd64/
tap-win32/i386/
tapinstall/
vc90.idb
win/version_m4_vars.tmp
