Adriaan de Jong <dejong@fox-it.com>             <adriaan@adriaan-VirtualBox.(none)>
David Sommerseth <dazo@eurephia.net>            <dazo@users.sourceforge.net>
Gert Doering <gert@greenie.muc.de>              <gd@medat.de>
Gert Doering <gert@greenie.muc.de>              <gert@fbsd74.ov.greenie.net>
Gert Doering <gert@greenie.muc.de>              <gert@fbsd90.ov.greenie.net>
Gert Doering <gert@greenie.muc.de>              <gert@mobile.greenie.muc.de>
James Yonan <james@openvpn.net>                 <james@e7ae566f-a301-0410-adde-c780ea21d3b5>
Jan Just Keijser <janjust@nikhef.nl>            <janjust@nikhef.nl>
JuanJo Ciarlante <jjo@google.com>               <jjo+ml@google.com>
Karl O. Pinc <kop@meme.com>                     <kop@mofo.meme.com>
Robert Fischer <ml-openvpn@trispace.org>        <ml-openvpn@trispace.org>
Samuli Seppänen <samuli@openvpn.net>            <samuli@openvpn.net>
Seth Mos <seth.mos@dds.nl>                      <seth.mos@dds.nl>
